### This notebook need to visualisation of the test dataset

In [1]:
from katas.regression.utils import liner_regression_generator

In [2]:
liner_df = liner_regression_generator.generate_set([-5,5], lambda x:x**2)
liner_df.head()

    feature      value
0  1.927948   2.754442
1  1.046051   1.368958
2 -0.742197   1.072947
3 -4.386917  20.696353
4 -0.246693   1.207397